{% extends "app/base.html" %}
{% load static %}
{% block content %}
  <h1>Perfil</h1>
  <img src="{{ usuario.url_foto }}" alt="Foto do usuário.">
  <p><b>Matrícula:</b> {{ usuario.matricula }}</p>
  <p><b>Nome completo:</b> {{ usuario.nome_completo }}</p>
  <p><b>CPF:</b> {{ usuario.cpf }}</p>
  <p><b>Campus:</b> {{ usuario.campus }}</p>
  <p><b>Curso:</b> {{ usuario.curso }}</p>
  <p><b>E-mail pessoal:</b> {{ usuario.email_pessoal }}</p>
  <p><b>E-mail escolar:</b> {{ usuario.email_escolar }}</p>
  <p><b>E-mail acadêmico:</b> {{ usuario.email_academico }}</p>
  <p><b>Tipo de vínculo:</b> {{ usuario.tipo_vinculo }}</p>
  <p><b>Sexo:</b> {{ usuario.sexo }}</p>
  <p><b>Data de nascimento:</b> {{ usuario.data_nascimento }}</p>
  <form id="logout-form" action="{% url "app:logout" %}" method="post">
    {% csrf_token %}
    <button type="submit">Sair</button>
  </form>
  <script src="{% static "app/js/logout.js" %}"></script>
{% endblock content %}
